.categories-menu {
  display: flex;
  flex-direction: column;
  padding: 5px 25px;
  width: 250px;
}

hr {
  width: 100%;
}

.categories {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}

.categories:hover {
  background-color: rgba(128, 128, 128, 0.262);
}
