.main-content {
  display: flex;
}

.products-container {
  width: 100%;
}

.initialMessageDisplay, .noProductsDisplay {
  color: rgb(49, 194, 141);
  font-size: 30px;
  font-weight: 800;
  margin: 200px auto;
  text-align: center;
  width: 500px;
}
